<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about" data-i18n-en="Homepage" data-i18n-zh="主页">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" data-i18n-en="{{ link.title_en }}" data-i18n-zh="{{ link.title_zh }}">{{ link.title_en }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
    <button type="button" class="masthead__language-toggle" data-language-toggle aria-label="Switch language">中文</button>
  </div>
</div>